.ad-banner {
  margin-bottom: 20px;
  box-shadow: 0 3px 12px 2px rgba(0,0,0,.24);
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  background: linear-gradient(-45deg, #fe028e, rgba(8, 5, 105, 1));
}