// Variables
@import 'variables';
@import 'material-icons';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.preloader {
  animation: rotate .7s infinite linear;
}
@keyframes rotate {
  from {transform: rotateZ(0deg)}
  to {transform: rotateZ(360deg)}
}

.ad-banner {
  margin-bottom: 20px;
  box-shadow: 0 3px 12px 2px rgba(0,0,0,.24);
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  background: linear-gradient(-45deg, #fe028e, rgba(8, 5, 105, 1)) !important;
}

#app {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: #1e1e1e;
  padding: 10px 20px;
  background: #f4f6f9;
  min-height: 100vh;
}
main, .navbar {
  position: relative;
  z-index: 200;
}
h1,h2,h3,h4 {
  margin-bottom: 20px;
  font-weight: 700;
}
h1 {
  font-size: 1.85em;
}
.form-section-title {
  display: block;
  margin-bottom: 15px;
  font-size: .9em;
}
.subheading {
  font-size: .9em;
  font-weight: 400;
  line-height: 1em;
  display: block;
  margin: -15px 0 25px;
}
.card {
  background: #fff;
  border: none;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.15);
}

.navbar {
  padding: 20px 15px;
  border-bottom: 1px solid #efefef;
  border-radius: 5px;
  background: #fff;
}
.navbar-brand {
  font-size: 1.25em;
  font-weight: 700;
  padding-left: 0;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  padding: 5px 20px;
}

.fab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  line-height: 0;
  text-transform: none;
  cursor: pointer;
  user-select: none;
  margin: 0;
  box-sizing: border-box;
}
.fab-fixed {
  position: fixed;
  z-index: 1000;
  right: 40px;
  bottom: 40px;
}

.bg-pink {
  background: #ed145b !important;
}

.number {
  width: 30px;
  height: 30px;
  background: red;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.25);
  color: #fff;
  position: absolute;
  z-index: 200;
  top: 5px;
  right: 5px;
}

.toasted-container.top-right {
  right: 20px !important;
  top: 15% !important;
}
.toasted-primary {
  font-family: "Roboto" !important;
}