// Variables
@import 'variables';
@import 'material-icons';
@import 'buttons';
@import 'navbar';
@import 'survey-content';
@import 'material-list';

#app {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #1e1e1e;
  padding: 10px 20px;
  background: #f3f3f3;
  min-height: 100vh;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-position: center;
  @media(min-width: 991px){
    background-position: center;
  }
}


.preloader {
  animation: rotate .7s infinite linear;
}
@keyframes rotate {
  from {transform: rotateZ(0deg)}
  to {transform: rotateZ(360deg)}
}

.ad-banner {
  margin-bottom: 20px;
  box-shadow: 0 3px 12px 2px rgba(0,0,0,.24);
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  background: linear-gradient(-45deg, #fe028e, rgba(8, 5, 105, 1)) !important;
}
main, .navbar {
  position: relative;
  z-index: 200;
}
h1,h2,h3,h4 {
  margin-bottom: 20px;
  font-weight: 700;
}
h1 {
  font-size: 1.85em;
}
.form-section-title {
  display: block;
  margin-bottom: 15px;
  font-size: .9em;
}
.subheading {
  font-size: .9em;
  font-weight: 400;
  line-height: 1em;
  display: block;
  margin: -15px 0 25px;
}
.card {
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.15);
}
.bg-pink {
  background: #ed145b !important;
}
.number {
  width: 30px;
  height: 30px;
  background: red;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.25);
  color: #fff;
  position: absolute;
  z-index: 200;
  top: 5px;
  right: 5px;
}
.toasted-container.top-right {
  right: 20px !important;
  top: 15% !important;
}
.toasted-primary {
  font-family: "Roboto" !important;
}
.custom-banner {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(blue, red);
}
.slick-list.draggable {
  padding: 5px 0 !important;
}

.footer-navbar {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto 12px;
  padding: 0 12px 12px;
  border-bottom: 1px solid #D4D4D4;
}
.footer-navbar li {
  margin-right: 30px;
}
.footer-navbar li:last-child {
  margin: 0;
}
.footer-navbar li a {
  font-size: 12px;
  font-weight: 500;
  color: #828282;
}
.copyright {
  font-size: 11px;
  color: #B5B5B5;
}