.btn {
  font-weight: 500;
  text-align: center;
  line-height: 0;
  height: 40px;
  padding: 11px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-secondary {
  color: #828282;
  border-color: #B5B5B5;
  background: #fff;
}
.btn-primary {
  background: #0060EF;
}
.btn-outlined-default {
  background: none;
  border: 1px solid #000;
}
.btn-cta-vote::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.001' height='16' viewBox='0 0 16.001 16'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M1.333,9.167V15H.5a.5.5,0,0,0,0,1h11a.5.5,0,0,0,0-1h-.82V10.639l.763-.773a.56.56,0,0,0,.063-.079l2.031-3.133a1.154,1.154,0,0,0,.539.139h0a1.158,1.158,0,0,0,.825-.342L15.66,5.7a1.167,1.167,0,0,0,0-1.65l-3.7-3.7a1.167,1.167,0,0,0-1.65,0l-.733.733a1.164,1.164,0,0,0-.289,1.153l-2.966.753A4.3,4.3,0,0,0,3.525,5.225,4.351,4.351,0,0,0,3.073,7.14a4.2,4.2,0,0,0,.3,1.527H1.833A.5.5,0,0,0,1.333,9.167Zm8.946-7.384h0l.733-.734A.163.163,0,0,1,11.13,1a.166.166,0,0,1,.118.049l3.7,3.7a.167.167,0,0,1,0,.236l-.755.754a.165.165,0,0,1-.118.049h0a.166.166,0,0,1-.118-.049L10.278,2.018a.166.166,0,0,1,0-.235ZM4.073,7.14a3.342,3.342,0,0,1,.347-1.47A3.3,3.3,0,0,1,6.564,3.952l3.373-.857,2.849,2.881L10.695,9.2,7.808,12.126a.677.677,0,0,1-.487.2A.667.667,0,0,1,6.744,12a.728.728,0,0,1,.151-.865L9.448,8.574a.5.5,0,0,0,.061-.634L9.4,7.782a2.231,2.231,0,0,0-3.746.2l-.4.689H4.467A3.2,3.2,0,0,1,4.073,7.14ZM7.942,8.667H6.41l.11-.191a1.237,1.237,0,0,1,1.907-.3Zm-5.608,1H6.944l-.758.76a1.718,1.718,0,0,0-.3,2.083,1.66,1.66,0,0,0,1.437.818,1.68,1.68,0,0,0,1.2-.5L9.68,11.653V15H2.333Z' transform='translate(0 -0.001)'/%3E%3C/svg%3E");
}
.fab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  line-height: 0;
  text-transform: none;
  cursor: pointer;
  user-select: none;
  margin: 0;
  box-sizing: border-box;
}
.fab-fixed {
  position: fixed;
  z-index: 1000;
  right: 40px;
  bottom: 40px;
}