@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot?e79bfd88537def476913f3ed52f4f4b3);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/fonts/MaterialIcons-Regular.woff2?570eb83859dc23dd0eec423a49e147fe) format("woff2"), url(/fonts/MaterialIcons-Regular.woff?012cf6a10129e2275d79d6adac7f3b02) format("woff"), url(/fonts/MaterialIcons-Regular.ttf?a37b0c01c0baf1888ca812cc0508f6e2) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.preloader {
  -webkit-animation: rotate 0.7s infinite linear;
          animation: rotate 0.7s infinite linear;
}

@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.ad-banner {
  margin-bottom: 20px;
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  background: linear-gradient(-45deg, #fe028e, #080569) !important;
}

#app {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: #1e1e1e;
  padding: 10px 20px;
  background: #f4f6f9;
  min-height: 100vh;
}

main,
.navbar {
  position: relative;
  z-index: 200;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 20px;
  font-weight: 700;
}

h1 {
  font-size: 1.85em;
}

.form-section-title {
  display: block;
  margin-bottom: 15px;
  font-size: 0.9em;
}

.subheading {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1em;
  display: block;
  margin: -15px 0 25px;
}

.card {
  background: #fff;
  border: none;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.navbar {
  padding: 20px 15px;
  border-bottom: 1px solid #efefef;
  border-radius: 5px;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  z-index: 999;
}

.navbar-brand {
  font-size: 1.25em;
  font-weight: 700;
  padding-left: 0;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  padding: 5px 20px;
}

.navbar-catchphrase {
  font-weight: 400;
  font-size: 0.75em;
  max-width: 100px;
  display: block;
}

.fab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  line-height: 0;
  text-transform: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  box-sizing: border-box;
}

.fab-fixed {
  position: fixed;
  z-index: 1000;
  right: 40px;
  bottom: 40px;
}

.bg-pink {
  background: #ed145b !important;
}

.number {
  width: 30px;
  height: 30px;
  background: red;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
  position: absolute;
  z-index: 200;
  top: 5px;
  right: 5px;
}

.toasted-container.top-right {
  right: 20px !important;
  top: 15% !important;
}

.toasted-primary {
  font-family: "Roboto" !important;
}

.custom-banner {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(blue, red);
}

