@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot?e79bfd88537def476913f3ed52f4f4b3);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/fonts/MaterialIcons-Regular.woff2?570eb83859dc23dd0eec423a49e147fe) format("woff2"), url(/fonts/MaterialIcons-Regular.woff?012cf6a10129e2275d79d6adac7f3b02) format("woff"), url(/fonts/MaterialIcons-Regular.ttf?a37b0c01c0baf1888ca812cc0508f6e2) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

#app {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #1e1e1e;
  background: #fbfbfb;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

.container,
.container-fluid {
  padding: 0 20px;
}

.card {
  border-radius: 3px;
}

.z1 {
  border: none;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.form-section-title {
  font-size: 0.9em;
  color: gray;
  display: block;
  margin-bottom: 20px;
}

.fab {
  display: inline-block;
  line-height: 1.75em;
  text-align: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.fab i.material-icons {
  font-size: 1.25em;
  vertical-align: middle;
}

.fab.small {
  width: 30px;
  height: 30px;
}

.fab.small i.material-icons {
  font-size: 0.9em;
}

.survey-content h4 {
  font-size: 1.25em;
  font-weight: 600;
}

.survey-content .input-group {
  border: 1px solid gray;
  border-radius: 25px;
  overflow: hidden;
}

.survey-content .input-group-append,
.survey-content .input-group-append .input-group-text,
.survey-content .input-group .form-control {
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  background: #efefef;
  border: none !important;
}

.survey-content .actions {
  text-align: right;
  margin: -15px;
  padding: 15px;
}

.table .btn-group a i.material-icons,
.table .btn-group button i.material-icons {
  cursor: pointer;
  color: lightgray;
}

table.table td {
  border-top: none;
}

